{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class='biodata'>
      <img class="foto" src="{% static 'img/roy.jpeg' %}" alt="ini foto roy">
      <p>Roy Godsend Salomo</p>
      <p>1806205230 </p>
      <p>Institut Teknologi Bandung</p>
      <p>Tiduran</p>
      <p>Tidur adalah jalan ninjaku</p>
    </div>
  </body>
</html>